# Core framework
Django
djangorestframework
django-cors-headers
python-dotenv
whitenoise

# Database
psycopg2-binary

# Networking / API
requests

# Background tasks
celery
redis
flower

# WSGI server
gunicorn