# Core framework
Django
djangorestframework
django-cors-headers
django-filter
python-dotenv
whitenoise
drf-spectacular

# Database
psycopg[binary,pool]
psycopg2-binary

# Networking / API
requests

# Background tasks
celery
redis
flower

# Feast + DuckDB for feature store (SDK-first)
feast[postgres, redis]
duckdb>=0.6.1

# Utilities
tenacity==8.2.2

# WSGI server
gunicorn

joblib